*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

p{
    padding: 5px;
}

a{
    text-decoration: none;
    list-style: none;
    color: wheat;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.9)),url(bg.jpg);
    background-size: cover;
    z-index: 1;
}

.wrap{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.userBlock{
    /*width: 250px;*/
    /*height: 100px;*/
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
}

li:hover>:not(:hover){
    opacity: .3;
}

.btn{
    width: 60%;
    display: block;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #4cd964;
    border-radius: 8px;
    cursor: pointer;
    background: transparent;
    color: wheat;
}

.modal-active{
    position: absolute;
    background: rgba(12, 14, 15, .95);
    border-radius: 8px;
    color: wheat;
}

.modal{
    min-width: 300px;
    padding: 20px;
}

.modal-main{
    padding: 30px 5px;
}

.modal-item{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin: 10px auto;
    padding: 5px;
}

.modal-main-close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    color: #ef6767;
    font-weight: bold;
    background: none;
    cursor: pointer;
}